.TopBar {
  display: flex;
  border-bottom: 1px solid var(--blue);
  height: 60px;
  align-items: center;
  background: var(--whiteSmoke);
  flex-shrink: 0;
}

.left {
  width: 25%;
  padding: 0 24px;
}

.logoLastHalf {
  /* color: var(--blue); */
  /* font-weight: 700; */
}

.logo {
  font-weight: 700;
  font-size: 22px;
}

.right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 24px;
}