* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Roboto', sans-serif;
  --white: #ffffff;
  --whiteSmoke: #F4F7FB;
  --black: #162A34;
  --blue: #3057d5;
  --borderGray: #DFE3E6;
  --grayText: #5A6871;
  --green: #41d6c3;
  --gray2: #5a6872;
}

html, body, body>div {
  height: 100vh;
}

/* NOTE: These styles will be unnecessary when g2-ops-components provides all the components needed. */

input, textarea {
  font-size: 16px !important;
}

textarea {
  padding: 6px 0 0 5px !important;
  color: #000 !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a, button {
  cursor: pointer;
}