* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

pre {
  box-sizing: border-box;
}

:root {
  font-family: 'ibm-plex-sans', 'Helvetica Neue', Arial, sans-serif;
}

.codeBlokk {
  font-family: 'BLOKK';
}

html,
body,
#root {
  heiht: 100vh;
  background: var(--white);
  color: var(--black);
}
